body {
  background-color: #071e26;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/*HEADER*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
}

a {
  text-decoration: none;
}

input {
  background-color: #071e26;
  font-size: medium;
  font-family: lato;
  color: #22a0b6;
  border: 2px solid #cb0c59;
  border-radius: 8px;
  transition-duration: 0.4s;
  padding: 15px 32px;
  text-align: center;
  display: inline-flex;
  margin-top: 12%;
  margin-left: 10px;
  margin-right: 10px;
}

button {
  background-color: #071e26;
  font-size: medium;
  font-family: lato;
  color: #22a0b6;
  border: 2px solid #cb0c59;
  border-radius: 8px;
  transition-duration: 0.4s;
  padding: 15px 32px;
  text-align: center;
  display: inline-flex;
  margin-top: 55%;
  margin-left: 10px;
  margin-right: 10px;
}

button:hover {
  background-color: #06394c;
  color: #cb0c59;
}

/*CONTENT PAGE*/

p {
  color: lightgray;
  font-family: lato;
  text-align: justify;
  margin: 20px;
  font-size: 22px;
}

h1 {
  text-align: center;
  color: #22a0b6;
  font-size: 45px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  border: 2px solid #cb0c59;
  border-radius: 8px;
  padding: 10px;
}

h2 {
  color: #22a0b6;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

h3 {
  color: #22a0b6;
  font-size: 25px;
  margin: 0px;
}

img {
  display: block;
  width: 850px;
  height: 527px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#contact1 {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: x-large;
}

#content {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

#location {
  font-size: 20px;
  margin-left: 10%;
  margin-bottom: 2%;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  border-color: #cb0c59;
}

#footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-bottom: 0px;
}

@media screen and (max-width: 961px) {
  header {
    display: inline-block;
    justify-content: space-around;
  }
  button {
    display: inline-flex;
    justify-content: space-around;
    margin: 0px;
  }
}
